<!--================Header Menu Area =================-->

	<header class="header_area shadow-sm">
		<div class="main_menu shadow-sm">
			<nav class="navbar navbar-expand-lg navbar-light">
				<div class="container">
					<!-- Brand and toggle get grouped for better mobile display -->
					<a class="navbar-brand logo_h" href="/">
						<img class="logo-1" src="img/logo-2.png" alt="">
						<img class="logo-2" src="img/logo-2.png" alt="">
					</a>
					<button class="navbar-toggler" type="button" data-toggle="collapse"
						data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
						aria-expanded="false" aria-label="Toggle navigation">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse offset" id="navbarSupportedContent">
						<ul class="nav navbar-nav menu_nav ml-auto">
							<!--active class-->
							<li class="nav-item  submenu dropdown">
								<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"
									aria-haspopup="true" aria-expanded="false"><i class="bi bi-menu-down"></i> Menu
									categorias</a>
								<ul class="dropdown-menu">
									<li class="nav-item"><a class="nav-link anchor" href="#bebidas">Bebidas</a></li>
									<li class="nav-item"><a class="nav-link anchor" href="#petiscos">Petiscos</a></li>
									<li class="nav-item"><a class="nav-link anchor" href="#porcoes">Porções</a></li>
								</ul>
							</li>
							<li class="nav-item submenu dropdown">

								<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"
									aria-haspopup="true" aria-expanded="false"><i class="bi bi-person-circle"></i>
									Atendimento</a>
								<ul class="dropdown-menu">
									<li class="nav-item"><a class="nav-link popup-modal" href="#localizacao-modal">Onde	Estou</a></li>
									<li class="nav-item"><a class="nav-link" href="/chat">Chamar atendente</a></li>

								</ul>
							</li>
							<li class="nav-item submenu dropdown active">

								<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"
									aria-haspopup="true" aria-expanded="false"><img src="img/brazil-emoji.png" width="48" height="48"  alt="brazil-emoji" /></a>
								<ul class="dropdown-menu">
									
									<li class="nav-item"><a class="nav-link" href="#"><img width="48" height="48" src="img/united-states-emoji.png" alt="united-states-emoji"/></a></li>
									<li class="nav-item"><a class="nav-link" href="#"><img width="48" height="48" src="img/spain-emoji.png" alt="spain-emoji" /></a></li>
								</ul>
							</li>
						</ul>
					</div>
					
				</div>
			</nav>
		</div>
	</header>
	<!--================Header Menu Area =================-->