<div id="termos" class="container-fluid bg-dark p-2 ">
    <div  class="container">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="col-lg-10 col-sm-10 p-2">
                <small>Utilizamos cookies para fornecer uma melhor experiência para nossos usuários, consulte nossa<a  class="popup-modal pl-2 " href="#modal-termos">política de privacidade.</a></small>
                <button onclick="aceptTermos()" class="btn btn-outline-secondary w-100 btn-sm mt-2">Aceitar</button>
            </div>
          

        </div>

    </div>
</div>
