.white-popup {
  position: relative;
  background: #FFF;
  padding: 20px;
  width:auto;
  max-width: 500px;
  margin: 20px auto;
}
/* .chat_area {
    overflow: hidden;
    background: #2323fa;
    position: relative;
    width: 300px;
    bottom:60px;
    padding: 180px 0 120px;
}
.col_area{
    border:1px solid rgb(241, 128, 128);
    color:white;
    
}

@media (max-width: 992px) {}

.menu_area .round-planet {
    border: 3px solid rgba(234, 234, 234, 0.52);
}

.menu_area.white {
    background: #ffffff;
}

.menu_inner .col-lg-5 {
    vertical-align: middle;
    align-self: center;
}

.menu_inner .menu_list {
    height: 100%;
    margin-right: -15p
     padding-right: 60px;
}

@media (max-width: 1160px) {
    .menu_inner .menu_list {
        padding-right: 0;
        margin-bottom: 25px;
    }
}

.menu_inner .menu_list:last-child {
    margin-left: 0;
}

.menu_inner .menu_list h3 {
    color: #222222;
    font-size: 48px;
}

.menu_inner .menu_list p {
    margin-bottom: 0px;
    font-size: 14px;
}

.menu_inner .menu_list .list li {
    padding-bottom: 30px;
}

.menu_inner .menu_list .list li:last-child {
    padding-bottom: 0;
}

.menu_inner .menu_list .list li h4 {
    font-size: 21px;
    margin-bottom: 12px;
    font-weight: 300;
}

@media (max-width: 420px) {
    .menu_inner .menu_list .list li h4 {
        font-size: 16px;
    }
}

.menu_inner .menu_list .list li h4:after {
    margin-right: 15px;
    content: '---------------------------';
    float: right;
    color: #777777;
}

@media (max-width: 1024px) {
    .menu_inner .menu_list .list li h4:after {
        content: '---------------------------------------------------';
    }
}

@media (max-width: 992px) {
    .menu_inner .menu_list .list li h4:after {
        content: '';
        float: none;
    }
}

.menu_inner .menu_list .list li h4 span {
    float: right;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
}

@media (max-width: 420px) {
    .menu_inner .menu_list .list li p {
        font-size: 14px;
    }
}

.menu_inner .menu_img {
    margin-left: -98px;
    padding-top: 80px;
    padding-bottom: 80px;
}*/

	 
		/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #6b0909;
}


#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #37517e;
  border-top-color: #fff;
  border-bottom-color: #fff;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

    /*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right:199px;
  bottom: 135px;
  z-index: 996;
  background: rgba(117, 19, 19);
  width: 40px;
  height: 40px;
  border-radius: 50px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 24px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: rgba(117, 19, 19);
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}
